#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1180px;
    margin-bottom: 50px;
}
.box-title{
    color: #000;
    font-family: NanumGothic;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text-box input[type="text"]{
    padding: 20px;
    border-radius: 20px;
    background: #F6F7FB;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.10);
    border: none;
    font-family: NanumGothic;
    font-size: 24px;
    width: 980px;
    
}
.key-word{
    display: flex;
    flex-direction: row;
}
.key-word p{
    width: fit-content;
    height: 70px;
    border-radius: 45px;
    background: #EBECF0;
    color: var(--unnamed, #17181A);
    font-family: NanumGothic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
    margin-right: 20px;
}
.key-word p:hover{
    color: #F5F6FA;
    background-color: #FF5B16;
    cursor: pointer;
}