nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 64px;
  font: 24px;
  line-height: 23.76px;

  background-color: #17181A;
  color: #FFFFFF;
}
.nav-left,.nav-right{
  display: flex;
  flex-direction: row;
}
.nav-left {
  margin-left: 55.59px;
}
.nav-left a{
  margin-left: 16px;
  text-decoration: none;
}
.nav-left img{
  max-width: 10%;
}
.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 135px;
}
.nav-right img{
  cursor: pointer;
  margin-right: 35px;
}
.nav-right :last-child{
  margin-right: 0px;
}
.nav-icon-first{
  width: 23px;
  height: 35.764px; 
}
.nav-icon-second{
  width: 26px;
  height: 39.464px;
}
.nav-icon-third{
  width: 43px;
  height: 42px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #f6f7FB;
  background-image: url(./study-header-img.png);
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 344px;
}
header :nth-child(1){
  margin-top: 94px;
  font-size: 35px;
  line-height: 80px;
}
header :nth-child(2){
  font-size: 70px;
  line-height: 80px;
}

.main-scroll-icon{
  position: fixed;
  bottom: 49px; 
  right: 67px; 
  z-index: 2;
}
.main-scroll-icon img{
  height: 80px;
  width: 80px;
  cursor: pointer;
}
#study-place{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 120px;
}

.sotonggesipan-gaebal {
  align-items: center;
  background-color: var(--eyjymp);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 4989px;
  width: 1920px;
}

.sotonggesipan-gaebal .lnb {
  align-items: center;
  background-color: var(--black);
  display: flex;
  gap: 64px;
  height: 62px;
  justify-content: center;
  padding: 12px 0px;
  position: relative;
  width: 1920px;
}

.sotonggesipan-gaebal .menu0 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-bottom: -3.00px;
  margin-top: -3.00px;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-1-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-2-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-3 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-4 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .overlap-group {
  height: 1028px;
  position: relative;
  width: 1920px;
}

.sotonggesipan-gaebal .line-stroke {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1026px;
  width: 1920px;
}

.sotonggesipan-gaebal .body01 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 1027px;
  justify-content: center;
  left: 0;
  padding: 80px 370px 120px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.sotonggesipan-gaebal .tilte01_qa {
  color: var(--ahjla4);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 1180px;
}

.sotonggesipan-gaebal .body_-question {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .qusetion_line1 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .card {
  align-items: flex-start;
  background-color: var(--eyjymp);
  border-radius: 30px;
  box-shadow: 10px 10px 20px 5px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 367px;
  padding: 27px 33px;
  position: relative;
  width: 380px;
}

.sotonggesipan-gaebal .sub-title {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -5.00px;
  position: relative;
  white-space: nowrap;
  width: 312px;
}

.sotonggesipan-gaebal .text-5 {
  height: 265px;
  line-height: 40px;
  width: 312px;
}

.sotonggesipan-gaebal .card-1 {
  align-items: flex-start;
  background-color: var(--eyjymp);
  border-radius: 30px;
  box-shadow: 10px 10px 20px 5px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 367px;
  padding: 27px 33px;
  position: relative;
  width: 780px;
}

.sotonggesipan-gaebal .sub-title-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -5.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .body {
  align-items: center;
  display: flex;
  gap: 36px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-6 {
  height: 258px;
  line-height: 40px;
  margin-top: -1.00px;
  width: 167px;
}

.sotonggesipan-gaebal .q {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .q1 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .qmark {
  background-color: var(--x2);
  border-radius: 50px;
  height: 50px;
  min-width: 50px;
  position: relative;
}

.sotonggesipan-gaebal .price {
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 20px;
}

.sotonggesipan-gaebal .question {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .question_-title {
  height: 24px;
  line-height: 30px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: 408px;
}

.sotonggesipan-gaebal .question_-text {
  height: 59px;
  line-height: 20px;
  width: 398px;
}

.sotonggesipan-gaebal .question_-time {
  line-height: 20px;
  white-space: nowrap;
  width: 398px;
}

.sotonggesipan-gaebal .q2 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .qmark-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .qmark-2 {
  background-color: var(--x1z4gzh);
  border-radius: 50px;
  height: 50px;
  min-width: 50px;
  position: relative;
}

.sotonggesipan-gaebal .price-1 {
  font-size: var(--font-size-l);
  left: 15px;
  position: absolute;
  top: 13px;
  width: 20px;
}

.sotonggesipan-gaebal .text {
  color: var(--x1);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .line-17 {
  height: 258px;
  left: 167px;
  position: absolute;
  top: 1px;
  width: 2px;
}

.sotonggesipan-gaebal .qusetion_line2 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .x {
  height: 258px;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  width: 167px;
}

.sotonggesipan-gaebal .q-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .q1-1 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .q2-1 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .qmark-3 {
  background-color: var(--vv4zlv);
  border-radius: 50px;
  height: 50px;
  min-width: 50px;
  position: relative;
}

.sotonggesipan-gaebal .x-1 {
  height: 265px;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  width: 312px;
}

.sotonggesipan-gaebal .frame-1000002911 {
  align-items: flex-start;
  gap: 38px;
  margin-top: 36px;
  width: fit-content;
}

.sotonggesipan-gaebal .title01 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .vector {
  height: 41.26px;
  min-width: 62.63px;
  position: relative;
}

.sotonggesipan-gaebal .text-9 {
  color: var(--black);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-10 {
  height: 31px;
  line-height: normal;
  width: 527px;
}

.sotonggesipan-gaebal .title02 {
  align-items: flex-start;
  display: flex;
  gap: 130px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .filter_chip {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .filter_chip_01 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .fillter_chip {
  align-items: center;
  background-color: var(--x2);
  border-radius: 26px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 14px 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-11 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text_label {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .fillter_chip-1 {
  align-items: center;
  background-color: var(--ahjla4);
  border-radius: 26px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 14px 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .filter_chip_02 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .dropdown {
  height: 48px;
  min-width: 120px;
  position: relative;
}

.sotonggesipan-gaebal .dropdown-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  left: 20px;
  position: relative;
  top: 13px;
  width: fit-content;
}

.sotonggesipan-gaebal .text-12 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .vector-1 {
  height: 11px;
  min-width: 17px;
  position: relative;
}

.sotonggesipan-gaebal .list_contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 100px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .div-line-stroke {
  height: 1px;
  min-width: 1920px;
  position: relative;
}

.sotonggesipan-gaebal .postbox {
  align-items: center;
  background-color: var(--eyjymp);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 239px;
  justify-content: space-around;
  padding: 34px 36px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .post {
  align-items: flex-start;
  display: flex;
  gap: 22px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .num {
  background-color: var(--x2);
  border-radius: 50px;
  height: 64px;
  min-width: 64px;
  position: relative;
}

.sotonggesipan-gaebal .number {
  height: 21px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
}

.sotonggesipan-gaebal .divline {
  height: 64px;
  min-width: 1px;
  object-fit: cover;
  position: relative;
}

.sotonggesipan-gaebal .contents {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 1000px;
}

.sotonggesipan-gaebal .title {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 960px;
}

.sotonggesipan-gaebal .text-1 {
  height: 87px;
  line-height: 30px;
  width: 960px;
}

.sotonggesipan-gaebal .status {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sotonggesipan-gaebal .status-1 {
  gap: 12px;
}

.sotonggesipan-gaebal .status-2 {
  gap: 4px;
}

.sotonggesipan-gaebal .text-13 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-14 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .x21-k {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-15 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-16 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .date {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .num_-answer_-true {
  background-color: var(--x1z4gzh);
  border-radius: 50px;
  height: 64px;
  min-width: 64px;
  position: relative;
}

.sotonggesipan-gaebal .text-2 {
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-18 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-19 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-20 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-21 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-23 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-24 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-25 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-26 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-28 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-29 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-30 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-31 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-33 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-34 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-35 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-36 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-5 {
  background-color: var(--x2);
  border-radius: 50px;
  height: 64px;
  min-width: 64px;
  position: relative;
}

.sotonggesipan-gaebal .text-37 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-38 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-39 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-40 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-42 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-43 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-44 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-45 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-47 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-48 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-49 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-50 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-52 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-53 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-54 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-55 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .num-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-57 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-58 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-59 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .text-60 {
  line-height: normal;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .pagenation {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 1.0px;
  margin-top: 89px;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .pagenation-item {
  height: 54px;
  min-width: 46px;
  position: relative;
}

.sotonggesipan-gaebal .numbers {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .frame-13 {
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  width: fit-content;
}

.sotonggesipan-gaebal .frame-140 {
  align-items: flex-start;
  gap: 10px;
  padding: 20px 16px;
  width: fit-content;
}

.sotonggesipan-gaebal .frame-1000002887 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--x1);
  border-radius: 40px;
  gap: 8px;
  height: 80px;
  justify-content: center;
  margin-right: 80px;
  margin-top: 40px;
  padding: 20px 30px;
  width: 80px;
}

.sotonggesipan-gaebal .vector-1-1 {
  height: 13px;
  margin-left: -3.00px;
  margin-right: -3.00px;
  min-width: 26px;
  position: relative;
}

.sotonggesipan-gaebal .price-2 {
  font-size: var(--font-size-xs);
  margin-left: -3.50px;
  margin-right: -3.50px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.sotonggesipan-gaebal .date-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .frame {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sotonggesipan-gaebal .number-41 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .price-3 {
  color: var(--eyjymp);
  font-family: var(--font-family-nanum_gothic);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sotonggesipan-gaebal .question_ {
  letter-spacing: 0;
  position: relative;
}

.sotonggesipan-gaebal .status-3 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.sotonggesipan-gaebal .text-7 {
  letter-spacing: 0;
  position: relative;
}

.sotonggesipan-gaebal .text_label-15 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sotonggesipan-gaebal .x21-k-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

footer img{
  width: 100%;
  margin-bottom: 72px;
  margin-top: 120px;
}