<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />

    <link rel="shortcut icon" type="image/png" href="{% static ' https://animaproject.s3.amazonaws.com/home/favicon.png' %}" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sotonggesipan-jilmune-dabbyeonhagi.css ' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleguide.css ' %}" />
    <link rel="stylesheet" type="text/css" href="{% static ' css/globals.css' %}" />
  </head>
  <body>
    <body style="margin: 0; background: #f6f7fb">
      <!-- nav bar -->
    <!-- copy -->
    <nav style="display: flex;">
      <div class="nav-left" >
          <img src="{% static 'img/main-nav-logo.png' %}" alt="로고">
          <a href="{% url 'main' %}" style=" color: #95969D;" >홈</a>
          <a class="nav-second" style="color: #FFFFFF;" href="{% url 'quizApp:studySpace' level=0 %}">오늘의 공부</a>
          <a class="nav-third" href="#" style=" color: #95969D;">소통 게시판</a>
      </div>
      <div class="nav-right">
          <img class="nav-icon-third" style="margin-right: 15px;" src="{% static 'img/nav-icon-third.png' %}" alt="">
          <p style="color: #FFFFFF;top:50%;margin-bottom: 0px; margin-right:30px;
          color: var(--unnamed, #F6F7FB);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;">부기님</p>
          <p style="color: #FFFFFF;top:50%;margin-bottom: 0px; margin-right:40px;
          color: var(--1, #95969D);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;" href="{% url 'accounts:logOut' %}">로그아웃</p>
      </div>
  </nav>
  <!-- nav bar end -->

  <!-- header -->
  <!-- copy -->
  <header class="study-title" style="display: flex;">
      <p>어른이 되기 위한 우리의</p>       
      <p>오늘의 공부</p>
  </header>
  <!-- header end -->
  <body style="margin: 0; background: #f6f7fb">
    <input type="hidden" id="anPageName" name="page" value="sotonggesipan-jilmune-dabbyeonhagi" />
    <div class="container-center-horizontal">
      <div class="sotonggesipan-jilmune-dabbyeonhagi screen">
        <div class="lnb">
          <div class="menu0">
            <div class="text valign-text-middle nanumgothic-bold-mountain-mist-24px">질문하기</div>
          </div>
          <div class="menu0">
            <div class="text valign-text-middle nanumgothic-bold-mountain-mist-24px">내가 한 질문</div>
          </div>
          <div class="menu0"><div class="text-1 valign-text-middle">답변하기</div></div>
          <div class="menu0">
            <div class="text valign-text-middle nanumgothic-bold-mountain-mist-24px">내가 한 답변</div>
          </div>
        </div>
        <div class="group-499">
          <img class="vector" src="{% static 'img/vector-3.svg ' %}" alt="Vector" />
          <h1 class="text-5-1 nanumgothic-bold-white-32px">
            <span class="nanumgothic-bold-orange-32px">나도 인생선배</span
            ><span class="nanumgothic-bold-eerie-black-32px">님의</span
            ><span class="nanumgothic-bold-orange-32px"> 질문</span
            ><span class="nanumgothic-bold-eerie-black-32px">입니다.</span>
          </h1>
        </div>
        <div class="group-1000002981">
          <div class="overlap-group-3">
            <div class="group-524">
              <div class="rectangle-100"></div>
            </div>
            <div class="profie">
              <div class="nickname">
                <div class="text-6-1 valign-text-middle">나도 인생선배</div>
                <div class="text-7-1 valign-text-middle">인생후배 1학년</div>
              </div>
              <div class="profile"></div>
            </div>
            <div class="title">
              <div class="price valign-text-middle">Q.</div>
              <div class="text-8 valign-text-middle nanumgothic-bold-white-lilac-28px">
                “전세사기일까봐 무서워요,, 도와주세요ㅠㅠ”
              </div>
            </div>
            <div class="frame-1000002912">
              <div class="frame-522">
                <p class="text-9">
                  전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세 알아보다가
                  같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이 공인중개사라 그
                  집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까 집주인과 공인중개사가
                  짜고 그랬다던데 이런경우 많은가요?<br />이사 경험 많은 유목민 인생선배님들 똑똑하게 집 구하는
                  방법알려주세요!ㅠㅠ
                </p>
                <div class="date-1 valign-text-middle">2023.05.17</div>
              </div>
                        
              <img class="line-9" src="{% static ' img/line-9.svg' %}" alt="Line 9" />
              <div class="frame-44">
                <div class="frame-15">
                  <div class="frame-14"><div class="text-1 valign-text-middle">부동산</div></div>
                </div>
                <div class="frame-18">
                  <div class="frame-14-1">
                    <div class="text valign-text-middle nanumgothic-normal-white-lilac-24px">전세</div>
                  </div>
                </div>
                <div class="frame">
                  <div class="text valign-text-middle nanumgothic-normal-white-lilac-24px">월세</div>
                </div>
                <div class="frame">
                  <div class="text valign-text-middle nanumgothic-normal-white-lilac-24px">계약</div>
                </div>
                <div class="frame">
                  <div class="text valign-text-middle nanumgothic-normal-white-lilac-24px">빌라</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="line-19" src="{% static ' img/line-19.svg' %}" alt="Line 19" />
        <div class="group-1000002929">
          <div class="group-421-1">
            <div class="overlap-group">
              <div class="ellipse-54"></div>
              <img class="union" src="{% static ' img/union-1.svg' %}" alt="Union" />
            </div>
          </div>
          <p class="text-16 nanumgothic-bold-white-32px">
            <span class="nanumgothic-bold-eerie-black-32px">현재 총 </span
            ><span class="nanumgothic-bold-orange-32px">1개의 답변</span
            ><span class="nanumgothic-bold-eerie-black-32px">이 달렸습니다.<br />도움 받은 글을 </span
            ><span class="nanumgothic-bold-orange-32px">추천</span
            ><span class="nanumgothic-bold-eerie-black-32px">해보세요!</span>
          </p>
        </div>
        <div class="group-container">
          <div class="group-1000002941">
            <div class="group-1000002853">
              <div class="group-421">
                <div class="overlap-group">
                  <div class="ellipse-54"></div>
                  <img class="union" src="{% static 'img/union.svg ' %}" alt="Union" />
                </div>
              </div>
              <div class="text-2 nanumgothic-bold-white-32px">
                <span class="nanumgothic-bold-orange-32px">아기사자</span
                ><span class="nanumgothic-bold-eerie-black-32px">님의</span
                ><span class="nanumgothic-bold-orange-32px"> 답변</span
                ><span class="nanumgothic-bold-eerie-black-32px">입니다.</span>
              </div>
            </div>
            <div class="group-1000002928">
              <p class="text-15">
                저도 처음에 전셋집 구하고 자취시작할때 많이 겪었습니다ㅠㅠ<br />계약을 맺기전, 선순위 공시되지 않는
                임대차보증금의 합계액과 실제 건물의 시세를 잘 따져 담보력이 충분한지 신중히 선택하시길 권해드립니다.
                또한 빌라전세사기, 수법을 먼저 알아야 합니다<br />가장 먼저 내가 지금 임대차 계약을 체결하려고 하는
                부동산중개인이 정식 중개인이 맞는지 확인해야 합니다. 또한 매물을 알아보는 시점에서 내가 계약하려고 하는
                매물이 주변 시세에 비해 20~30% 이상 저렴하다면 이는 의심을 해볼 필요가 있습니다. 따라서 매물을 알아볼
                때는 주변의 부동산 시세를 무엇보다 잘 파악하고 있어야 합니다. <br /><br />만약 위와 같은 예방 수칙을
                모두 이행했음에도 불구하고 빌라전세사기를 입은 상황이라면, 반드시 법률 전문가의 조력을 통해 빌라전세사기
                회복을 하셔야 합니다.<br /><br />잘 해결하시길바래요!
              </p>
              <img class="unsplash-gqb-u78bd-jfm" src="{% static 'img/unsplash-gqbu78bdjfm.png ' %}" alt="unsplash:GqbU78bdJFM" />
            </div>
          </div>
          <div class="group-1000002956">
            <div class="text-17">추천</div>
            <div class="number-1 valign-text-middle number-22">53</div>
          </div>
        </div>
        <div class="group-1000002979">
          <div class="group-1000002976">
            <div class="group-1000002964">
              <p class="text-59 nanumgothic-bold-mountain-mist-24px">
                다른 후배들에게도 공유되었으면 하는 질문이라면 눌러주세요.
              </p>
              <div class="frame-57"><div class="text-60">다른 후배들에게도 추천해요!</div></div>
            </div>
            <div class="group-1000002975 nanumgothic-bold-mountain-mist-16px">
              <div class="x5">
                <div class="group-1000002972">
                  <div class="text-3">추천</div>
                  <div class="number-2 number-22">11</div>
                </div>
                <div class="group-1000002974">
                  <div class="text-3">조회</div>
                  <div class="x21-k">2.1K</div>
                </div>
                <div class="group-1000002971">
                  <div class="text-3">답글</div>
                  <div class="number-3 number-22">2</div>
                </div>
                <div class="group-1000002973">
                  <div class="text-3">댓글</div>
                  <div class="number-4 number-22">2</div>
                </div>
              </div>
              <div class="text-61">게시: 2023년 5월 23일</div>
            </div>
          </div>
          <img class="line-2" src="{% static ' img/line-20.svg' %}" alt="Line 20" />
          <div class="group-1000002978">
            <div class="overlap-group6 nanumgothic-bold-mountain-mist-16px">
              <div class="group-1000002977">
                <div class="group-1000002927">
                  <div class="group-421">
                    <div class="overlap-group">
                      <div class="ellipse-54"></div>
                      <img class="union" src="{% static 'img/union-2.svg ' %}" alt="Union" />
                    </div>
                  </div>

                  <p class="text-2 nanumgothic-bold-white-32px">
                    <span class="nanumgothic-bold-eerie-black-32px">이 글을 본 후배님들이 </span
                    ><span class="nanumgothic-bold-orange-32px">함께 읽은 질문</span
                    ><span class="nanumgothic-bold-eerie-black-32px">입니다.</span>
                  </p>
                </div>
                <div class="group-1000002926">
                  <div class="overlap-group-1">
                    <div class="view">
                      <div class="group-73">
                        <img class="vector-1" src="{% static ' img/vector-5.svg' %}" alt="Vector" />
                        <div class="number-5 number-22 nanumgothic-bold-mountain-mist-16px">297</div>
                      </div>
                      <div class="group-74">
                        <img class="vector-2" src="{% static ' img/vector-6.svg' %}" alt="Vector" />
                        <div class="x21-k-1 x21-k-7 nanumgothic-bold-mountain-mist-16px">2.1K</div>
                      </div>
                      <div class="group-75">
                        <img class="vector-3" src="{% static ' img/vector-4.svg' %}" alt="Vector" />
                        <div class="number-6 number-22 nanumgothic-bold-mountain-mist-16px">2</div>
                      </div>
                    </div>
                    <div class="group-126">
                      <div class="text-4 valign-text-middle nanumgothic-bold-eerie-black-28px">
                        전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                      </div>
                      <p class="text-5 nanumgothic-normal-mountain-mist-20px">
                        전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세
                        알아보다가 같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이
                        공인중개사라 그 집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까
                        집주인과 공인중개사가 짜고 그랬다 ...
                      </p>
                    </div>
                    <div class="date nanumgothic-bold-mountain-mist-16px">23.02.14</div>
                    <div class="group-355">
                      <div class="overlap-group-4">
                        <div class="number valign-text-middle nanumgothic-bold-eerie-black-28px">01</div>
                      </div>
                      <img class="line-1" src="{% static ' img/line-14.svg' %}" alt="Line 15" />
                    </div>
                  </div>
                  <div class="overlap-group-1">
                    <div class="group">
                      <div class="text-4 valign-text-middle nanumgothic-bold-eerie-black-28px">
                        전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                      </div>
                      <p class="text-5 nanumgothic-normal-mountain-mist-20px">
                        전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세
                        알아보다가 같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이
                        공인중개사라 그 집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까
                        집주인과 공인중개사가 짜고 그랬다 ...
                      </p>
                    </div>
                    <div class="date nanumgothic-bold-mountain-mist-16px">23.02.14</div>
                    <div class="group-35">
                      <div class="group-272">
                        <div class="overlap-group-2">
                          <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                        </div>
                        <div class="text-6 nanumgothic-bold-orange-16px">답변완료</div>
                      </div>
                      <img class="line-1" src="{% static 'img/line-14.svg ' %}" alt="Line 14" />
                    </div>
                  </div>
                  <div class="overlap-group-1">
                    <div class="group-109">
                      <div class="text-29 valign-text-middle nanumgothic-bold-eerie-black-28px">
                        전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                      </div>
                      <p class="text-5 nanumgothic-normal-mountain-mist-20px">
                        전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세
                        알아보다가 같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이
                        공인중개사라 그 집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까
                        집주인과 공인중개사가 짜고 그랬다 ...
                      </p>
                    </div>
                    <div class="date nanumgothic-bold-mountain-mist-16px">23.02.14</div>
                    <div class="group-35">
                      <div class="group-272">
                        <div class="overlap-group-2">
                          <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                        </div>
                        <div class="text-6 nanumgothic-bold-orange-16px">답변완료</div>
                      </div>
                      <img class="line-1" src="{% static ' img/line-14.svg' %}" alt="Line 14" />
                    </div>
                  </div>
                  <div class="overlap-group-1">
                    <div class="group">
                      <div class="text-4 valign-text-middle nanumgothic-bold-eerie-black-28px">
                        전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                      </div>
                      <p class="text-5 nanumgothic-normal-mountain-mist-20px">
                        전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세
                        알아보다가 같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이
                        공인중개사라 그 집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까
                        집주인과 공인중개사가 짜고 그랬다 ...
                      </p>
                    </div>
                    <div class="date nanumgothic-bold-mountain-mist-16px">23.02.14</div>
                    <div class="group-35">
                      <div class="group-272">
                        <div class="overlap-group-2">
                          <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                        </div>
                        <div class="text-6 nanumgothic-bold-orange-16px">답변완료</div>
                      </div>
                      <img class="line-1" src="{% static ' img/line-14.svg' %}" alt="Line 14" />
                    </div>
                  </div>
                  <div class="overlap-group-1">
                    <div class="group">
                      <div class="text-4 valign-text-middle nanumgothic-bold-eerie-black-28px">
                        전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                      </div>
                      <p class="text-5 nanumgothic-normal-mountain-mist-20px">
                        전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세
                        알아보다가 같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이
                        공인중개사라 그 집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까
                        집주인과 공인중개사가 짜고 그랬다 ...
                      </p>
                    </div>
                    <div class="date nanumgothic-bold-mountain-mist-16px">23.02.14</div>
                    <div class="group-35">
                      <div class="group-272">
                        <div class="overlap-group-2">
                          <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                        </div>
                        <div class="text-6 nanumgothic-bold-orange-16px">답변완료</div>
                      </div>
                      <img class="line-1" src="{% static ' img/line-14.svg' %}" alt="Line 14" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="x0">
                <div class="group-1000002972">
                  <div class="text-3">추천</div>
                  <div class="number-7 number-22">11</div>
                </div>
                <div class="group-1000002974">
                  <div class="text-3">조회</div>
                  <div class="x21-k-2 x21-k-7">2.1K</div>
                </div>
                <div class="group-1000002971">
                  <div class="text-3">답글</div>
                  <div class="number-8 number-22">2</div>
                </div>
                <div class="group-1000002973">
                  <div class="text-3">댓글</div>
                  <div class="number-9 number-22">2</div>
                </div>
              </div>
              <div class="x5-1">
                <div class="group-1000002972">
                  <div class="text-3">추천</div>
                  <div class="number-10 number-22">11</div>
                </div>
                <div class="group-1000002974">
                  <div class="text-3">조회</div>
                  <div class="x21-k-3 x21-k-7">2.1K</div>
                </div>
                <div class="group-1000002971">
                  <div class="text-3">답글</div>
                  <div class="number-11 number-22">2</div>
                </div>
                <div class="group-1000002973">
                  <div class="text-3">댓글</div>
                  <div class="number-12 number-22">2</div>
                </div>
              </div>
              <div class="x2">
                <div class="group-1000002972">
                  <div class="text-3">추천</div>
                  <div class="number-13 number-22">11</div>
                </div>
                <div class="group-1000002974">
                  <div class="text-3">조회</div>
                  <div class="x21-k-4 x21-k-7">2.1K</div>
                </div>
                <div class="group-1000002971">
                  <div class="text-3">답글</div>
                  <div class="number-14 number-22">2</div>
                </div>
                <div class="group-1000002973">
                  <div class="text-3">댓글</div>
                  <div class="number-15 number-22">2</div>
                </div>
              </div>
              <div class="x3">
                <div class="group-1000002972">
                  <div class="text-3">추천</div>
                  <div class="number-16 number-22">11</div>
                </div>
                <div class="group-1000002974">
                  <div class="text-3">조회</div>
                  <div class="x21-k-5 x21-k-7">2.1K</div>
                </div>
                <div class="group-1000002971">
                  <div class="text-3">답글</div>
                  <div class="number-17 number-22">2</div>
                </div>
                <div class="group-1000002973">
                  <div class="text-3">댓글</div>
                  <div class="number-18 number-22">2</div>
                </div>
              </div>
              <div class="x4 nanumgothic-bold-mountain-mist-16px">
                <div class="group-1000002972">
                  <div class="text-3">추천</div>
                  <div class="number-19 number-22">11</div>
                </div>
                <div class="group-1000002974">
                  <div class="text-3">조회</div>
                  <div class="x21-k-6 x21-k-7">2.1K</div>
                </div>
                <div class="group-1000002971">
                  <div class="text-3">답글</div>
                  <div class="number-20 number-22">2</div>
                </div>
                <div class="group-1000002973">
                  <div class="text-3">댓글</div>
                  <div class="number-21 number-22">2</div>
                </div>
              </div>
            </div>
            <img class="line-2" src="{% static ' img/line-21.svg' %}" alt="Line 21" />
            <div class="group-1000002870">
              <div class="text-18">답글에 답글달기</div>
              <div class="group-container-1">
                <div class="group-1"></div>
                <div class="overlap-group-5">
                  <p class="text-7 nanumgothic-normal-mountain-mist-24px">
                    아기사자 님의 답변에 대해 피드백을 남겨주세요.
                  </p>
                </div>
              </div>
              <div class="group-71">
                <div class="group-1"></div>
                <div class="flex-col">
                  <div class="flex-row">
                    <div class="min0508">MIN0508</div>
                    <div class="text-2-1">2023년 5월 23일</div>
                  </div>
                  <p class="text-7 nanumgothic-normal-mountain-mist-24px">
                    와 이해하기 어려웠는데 너무 쉽게 정리해주셔서 감사합니다!!
                  </p>
                </div>
              </div>
              <div class="group-72">
                <div class="group-1"></div>
                <div class="flex-col">
                  <div class="flex-row-1">
                    <div class="hyo_22">HYO_22</div>
                    <div class="text-2-1">2023년 5월 23일</div>
                  </div>
                  <div class="text-7 nanumgothic-normal-mountain-mist-24px">너무 유익해요~</div>
                </div>
              </div>
            </div>
            <div class="group-1000002888">
             
              <img class="vector-1-1" src=" {% static 'img/vector-1-1.svg' %}" alt="Vector 1" />
              <div class="price-1 valign-text-middle">TOP</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-scroll-icon">
      <img src="{% static 'img/main-scroll-icon.png ' %}" alt="Scroll Icon">
  </div>
    <script src="{% static ' js/scroll.js' %}"></script>
    <footer>
      <img src="{% static 'img/footer.png ' %}" alt="">
    </footer>
  </body>
</html>

