{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sotonggesipan-gaebal.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/globals.css' %}" />
  </head>
  <nav>
    <div class="nav-left">
        <img src="{% static 'img/main-nav-logo.png' %}" alt="로고">
        <a href="#" style="color: #FFFFFF;">인생선배</a>
    </div>
    <div class="nav-right">
        <a style="color: #FFFFFF;text-decoration: none;" href="{% url 'accounts:logIn' %}"><p>로그인</p></a>
    </div>
</nav>

<header>
  <img src="{% static 'img/main-nav-logo.png' %}" alt="">
  <p>매일 하나씩 배워가는 인생조언</p>
  <p>어렵고 막막한 생활지식 배우기</p>
  <p>이제 인생선배를 통해 어른이 되어보아요.</p>
  <a href="{% url 'accounts:logIn' %}"><button>지금 시작하기</button></a>
</header>
<body>
  <body style="margin: 0; background: #f6f7fb">
    <input type="hidden" id="anPageName" name="page" value="sotonggesipan-gaebal" />
    <div class="container-center-horizontal">
      <div class="sotonggesipan-gaebal screen">
        <div class="lnb">
          <div class="menu0">
            <div class="text-1-1 valign-text-middle nanumgothic-bold-mountain-mist-24px">질문하기</div>
          </div>
          <div class="menu0">
            <div class="text-2-1 valign-text-middle nanumgothic-bold-mountain-mist-24px">내가 한 질문</div>
          </div>
          <div class="menu0">
            <div class="text-3 valign-text-middle text-7 nanumgothic-bold-mountain-mist-24px">답변하기</div>
          </div>
          <div class="menu0">
            <div class="text-4 valign-text-middle text-7 nanumgothic-bold-mountain-mist-24px">내가 한 답변</div>
          </div>
        </div>
        <div class="overlap-group">
          <img class="line-stroke" src="{% static 'img/line---stroke-.svg' %}" alt="Line  (Stroke)" />
          <div class="body01">
            <h1 class="tilte01_qa valign-text-middle">Q&amp;A</h1>
            <div class="body_-question">
              <div class="qusetion_line1">
                <article class="card">
                  <div class="sub-title valign-text-middle nanumgothic-bold-eerie-black-24px">질문하기</div>
                  <div class="text-5 text-7 nanumgothic-normal-mountain-mist-24px">
                    궁금한 점을<br />인생선배에게 <br />질문해요.
                  </div>
                </article>
                <article class="card-1">
                  <div class="sub-title-1 valign-text-middle nanumgothic-bold-eerie-black-24px">답변하기</div>
                  <div class="body">
                    <div class="text-6 text-7 nanumgothic-normal-mountain-mist-24px">
                      답변을 <br />기다리는 <br />글이 있어요.
                    </div>
                    <div class="q">
                      <div class="q1">
                        <div class="qmark"><div class="price nanumgothic-bold-eerie-black-24px">Q</div></div>
                        <div class="question">
                          <p class="question_-title question_ nanumgothic-bold-eerie-black-20px">
                            집에서 바선생이 나왔어요ㅠㅠ 어떻게 처리..
                          </p>
                          <p class="question_-text question_ nanumgothic-normal-eerie-black-12px">
                            한단 째 살고있는 자취방에서 바선생이 나타났어요ㅠㅠ 도와주세여 선배들 한마리 나오면 엄청
                            많은거라던데 어떻게 대처해야 할까요?? 너무 놀라서 아무것도 못하겠어요ㅠㅠㅠ 약 사서 두면
                            없어질까요? 좋은 해결 방법 좀 알려주세...
                          </p>
                          <div class="question_-time question_ nanumgothic-normal-mountain-mist-12px">05/20 13:02</div>
                        </div>
                      </div>
                      <div class="q2">
                        <div class="qmark-1">
                          <div class="qmark-2"><div class="price-1 price-3">Q</div></div>
                          <div class="text">답변완료</div>
                        </div>
                        <div class="question">
                          <p class="question_-title question_ nanumgothic-bold-eerie-black-20px">
                            집에서 바선생이 나왔어요ㅠㅠ 어떻게 처리..
                          </p>
                          <p class="question_-text question_ nanumgothic-normal-eerie-black-12px">
                            한달 째 살고있는 자취방에서 바선생이 나타났어요ㅠㅠ 도와주세여 선배들 한마리 나오면 엄청
                            많은거라던데 어떻게 대처해야 할까요?? 너무 놀라서 아무것도 못하겠어요ㅠㅠㅠ 약 사서 두면
                            없어질까요? 좋은 해결 방법 좀 알려주세...
                          </p>
                          <div class="question_-time question_ nanumgothic-normal-mountain-mist-12px">05/20 13:02</div>
                        </div>
                      </div>
                    </div>
                    <img class="line-17" src="{% static 'img/line-17.svg' %}" alt="Line 17" />
                  </div>
                </article>
              </div>
              <div class="qusetion_line2">
                <article class="card-1">
                  <div class="sub-title-1 valign-text-middle nanumgothic-bold-eerie-black-24px">내가 한 질문</div>
                  <div class="body">
                    <div class="x nanumgothic-normal-mountain-mist-24px">
                      내가 배운<br />지식들로<br />답변해 보아요.
                    </div>
                    <div class="q-1">
                      <div class="q1-1">
                        <div class="qmark"><div class="price nanumgothic-bold-eerie-black-24px">Q</div></div>
                        <div class="question">
                          <p class="question_-title question_ nanumgothic-bold-eerie-black-20px">
                            집에서 바선생이 나왔어요ㅠㅠ 어떻게 처리..
                          </p>
                          <p class="question_-text question_ nanumgothic-normal-eerie-black-12px">
                            한단 째 살고있는 자취방에서 바선생이 나타났어요ㅠㅠ 도와주세여 선배들 한마리 나오면 엄청
                            많은거라던데 어떻게 대처해야 할까요?? 너무 놀라서 아무것도 못하겠어요ㅠㅠㅠ 약 사서 두면
                            없어질까요? 좋은 해결 방법 좀 알려주세...
                          </p>
                          <div class="question_-time question_ nanumgothic-normal-mountain-mist-12px">05/20 13:02</div>
                        </div>
                      </div>
                      <div class="q2-1">
                        <div class="qmark-1">
                          <div class="qmark-3"><div class="price-1 price-3">Q</div></div>
                          <div class="text">답변완료</div>
                        </div>
                        <div class="question">
                          <p class="question_-title question_ nanumgothic-bold-eerie-black-20px">
                            집에서 바선생이 나왔어요ㅠㅠ 어떻게 처리..
                          </p>
                          <p class="question_-text question_ nanumgothic-normal-eerie-black-12px">
                            한단 째 살고있는 자취방에서 바선생이 나타났어요ㅠㅠ 도와주세여 선배들 한마리 나오면 엄청
                            많은거라던데 어떻게 대처해야 할까요?? 너무 놀라서 아무것도 못하겠어요ㅠㅠㅠ 약 사서 두면
                            없어질까요? 좋은 해결 방법 좀 알려주세...
                          </p>
                          <div class="question_-time question_ nanumgothic-normal-mountain-mist-12px">05/20 13:02</div>
                        </div>
                      </div>
                    </div>
                    <img class="line-17" src="{% static 'img/line-17.svg' %}" alt="Line 17" />
                  </div>
                </article>
                <article class="card">
                  <div class="sub-title valign-text-middle nanumgothic-bold-eerie-black-24px">내가 한 답변</div>
                  <div class="x-1 nanumgothic-normal-mountain-mist-24px">내 답변에<br />답장이<br />왔습니다.</div>
                </article>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-1000002911 frame">
          <div class="title01">
            <img class="vector" src="{% static 'img/vector.svg' %}" alt="Vector" />
            <div class="text-9 valign-text-middle text-7">실시간 소통 게시판</div>
            <div class="text-10 text-7 nanumgothic-bold-mountain-mist-24px">인생선배에게 지금바로 질문하세요!</div>
          </div>
          <div class="title02">
            <div class="filter_chip">
              <div class="filter_chip_01">
                <article class="fillter_chip">
                  <div class="text-11 valign-text-middle text-7 nanumgothic-bold-mountain-mist-20px">전체</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label valign-text-middle nanumgothic-bold-mountain-mist-20px">부동산</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">경제</div>
                </article>
                <article class="fillter_chip-1">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-white-lilac-20px">
                    자기개발/자기계발
                  </div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">할인</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">시사상식</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">
                    자취 및 생활상식
                  </div>
                </article>
              </div>
              <div class="filter_chip_02">
                <article class="fillter_chip-1">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-white-lilac-20px">여행</div>
                </article>
                <article class="fillter_chip-1">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-white-lilac-20px">재테크</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">계액</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">취미</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">자격증</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">대학</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">취직</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">대출</div>
                </article>
                <article class="fillter_chip">
                  <div class="text_label-15 valign-text-middle nanumgothic-bold-mountain-mist-20px">기타</div>
                </article>
              </div>
            </div>
            <div class="dropdown">
              <div class="dropdown-1">
                <div class="text-12 valign-text-middle text-7 nanumgothic-bold-mountain-mist-20px">최신순</div>
                <img class="vector-1" src="{% static 'img/vector-2.svg' %}" alt="Vector" />
              </div>
            </div>
          </div>
        </div>
        <div class="list_contents">
          {% for question in communication_list %}
          <img class="div-line-stroke" src="{% static 'img/divline--stroke-.svg' %}" alt="DivLine (Stroke)" />
          <div class="postbox">
            <div class="post">
              <div class="num"><div class="number valign-text-middle nanumgothic-bold-eerie-black-28px">01</div></div>
              <img class="divline" src="{% static 'img/divline.svg' %}" alt="divline" />
              <div class="contents">
                <div class="title valign-text-middle nanumgothic-bold-eerie-black-28px">
                  {{ question.title }}
                </div>
                <p class="text-1 text-7 nanumgothic-normal-mountain-mist-20px">
                  {{ question.content }}
                </p>
                <div class="status nanumgothic-bold-mountain-mist-16px">
                  <div class="status-1 status-3">
                    <div class="status-2 status-3">
                      <div class="text-13 text-7">{{ question.recommend }}</div>
                      <div class="number-41">11</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-14 text-7">{{ question.views }}</div>
                      <div class="x21-k">2.1K</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-15 text-7">답글</div>
                      <div class="number-41">2</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-16 text-7">댓글</div>
                      <div class="number-41">2</div>
                    </div>
                  </div>
                  <div class="date">23.02.14</div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
          <img class="div-line-stroke" src="{% static 'img/divline--stroke-.svg' %}" alt="DivLine (Stroke)" />
        </div>
        <div class="pagenation">
          <img class="pagenation-item" src="{% static 'img/-.svg' %}" alt="&lt;" />
          <div class="numbers">
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-eerie-black-24px">1</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">2</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">3</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">4</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">5</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">6</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">7</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">8</div></div>
            <div class="frame-13 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">9</div></div>
            <div class="frame-140 frame"><div class="number-41 nanumgothic-bold-mountain-mist-24px">10</div></div>
          </div>
          
          {% static ' '%}
          {% static ' '%}
          {% static ' '%}
          <img class="pagenation-item" src="{% static 'img/--1.svg' %}" alt="&gt;" />
        </div>
        <div class="frame-1000002887 frame">
          <img class="vector-1-1" src="{% static ' img/vector-1.svg'%}" alt="Vector 1" />
          <div class="price-2 valign-text-middle price-3">TOP</div>
        </div>
      </div>
    </div>
    <div class="main-scroll-icon">
      <img src="{% static 'img/main-scroll-icon.png' %}" alt="Scroll Icon">
  </div>
    <script src="{% static 'js/scroll.js' %}"></script>
  </body>
</html>
<footer>
  <img src="{% static 'img/footer.png' %}" alt="">
</footer>