<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/sotonggesipan-naega-han-dabbyeon.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <nav>
    <div class="nav-left">
        <img src="./img/main-nav-logo.png" alt="로고">
        <a href="#" style="color: #FFFFFF;">인생선배</a>
    </div>
    <div class="nav-right">
        <a style="color: #FFFFFF;text-decoration: none;" href="./login.html"><p>로그인</p></a>
    </div>
</nav>

<header>
  <img src="./img/main-nav-logo.png" alt="">
  <p>매일 하나씩 배워가는 인생조언</p>
  <p>어렵고 막막한 생활지식 배우기</p>
  <p>이제 인생선배를 통해 어른이 되어보아요.</p>
  <a href="./login.html"><button>지금 시작하기</button></a>
</header>
  <body style="margin: 0; background: #f6f7fb">
    <input type="hidden" id="anPageName" name="page" value="sotonggesipan-naega-han-dabbyeon" />
    <div class="container-center-horizontal">
      <div class="sotonggesipan-naega-han-dabbyeon screen">
        <div class="lnb">
          <div class="menu0">
            <div class="text-1-1 valign-text-middle nanumgothic-bold-mountain-mist-24px">질문하기</div>
          </div>
          <div class="menu0">
            <div class="text-2-1 valign-text-middle nanumgothic-bold-mountain-mist-24px">내가 한 질문</div>
          </div>
          <div class="menu0">
            <div class="text-3-1 valign-text-middle nanumgothic-bold-mountain-mist-24px">답변하기</div>
          </div>
          <div class="menu0"><div class="text-4 valign-text-middle">내가 한 답변</div></div>
        </div>
        <div class="group-267">
          <div class="group-266">
            <div class="overlap-group">
              <div class="ellipse-54"></div>
              <img class="union" src="img/union.svg" alt="Union" />
            </div>
          </div>
          <p class="text-5">
            <span class="nanumgothic-bold-orange-32px">부기 후배</span
            ><span class="nanumgothic-bold-eerie-black-32px">님의 답변에 </span
            ><span class="nanumgothic-bold-orange-32px">86%의 후배들이 만족</span
            ><span class="nanumgothic-bold-eerie-black-32px">했어요!</span>
          </p>
        </div>
        <div class="group-354">
          <div class="group-3">
            <div class="text-6 nanumgothic-bold-eerie-black-24px">답변한 횟수</div>
            <div class="group-34">
              <h1 class="number-1 number-29">120</h1>
              <div class="text nanumgothic-bold-mountain-mist-24px">/2000</div>
            </div>
          </div>
          <div class="group-3">
            <div class="text-9 nanumgothic-bold-eerie-black-24px">답변 추천 횟수</div>
            <div class="group-34">
              <div class="number-2 number-29">340</div>
              <div class="text nanumgothic-bold-mountain-mist-24px">/3000</div>
            </div>
          </div>
          <div class="group-351">
            <div class="text-8 nanumgothic-bold-eerie-black-24px">질문한 횟수</div>
            <div class="number-3 number-29">42</div>
          </div>
        </div>
        <div class="group-353">
          <div class="group-352">
            <p class="text-13">
              <span class="nanumgothic-bold-orange-20px">답변 1880회 /</span
              ><span class="nanumgothic-bold-eerie-black-20px">&nbsp;</span
              ><span class="nanumgothic-bold-orange-20px">추천</span
              ><span class="nanumgothic-bold-eerie-black-20px">&nbsp;</span
              ><span class="nanumgothic-bold-orange-20px">2660회 </span
              ><span class="nanumgothic-bold-eerie-black-20px">를 <br />채우면 인생 선배가 될 수 있어요!</span>
            </p>
          </div>
          <img class="group-342" src="img/group-342.png" alt="Group 342" />
          <div class="group-341 nanumgothic-bold-mountain-mist-24px">
            <div class="text-1">인생 후배</div>
            <div class="text-1">인생 선배</div>
          </div>
        </div>
        <img class="line-19" src="img/line-19.svg" alt="Line 19" />
        <div class="frame-1000002911 frame">
          <div class="title01">
            <img class="vector" src="img/vector.svg" alt="Vector" />
            <div class="text-14 valign-text-middle">
              <span
                ><span class="nanumgothic-bold-orange-32px">부기 후배</span
                ><span class="nanumgothic-bold-eerie-black-32px">님이 하신 </span
                ><span class="nanumgothic-bold-orange-32px">질문</span
                ><span class="nanumgothic-bold-eerie-black-32px">이에요!</span>
              </span>
            </div>
            <div class="text-15 nanumgothic-bold-mountain-mist-24px">인생선배에게 지금바로 질문하세요!</div>
          </div>
          <div class="title02">
            <div class="filter_chip">
              <div class="filter_chip_0">
                <div class="fillter_chip">
                  <div class="text-16 valign-text-middle nanumgothic-bold-mountain-mist-20px">전체</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-17 valign-text-middle nanumgothic-bold-mountain-mist-20px">부동산</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-18 valign-text-middle nanumgothic-bold-mountain-mist-20px">경제</div>
                </div>
                <div class="fillter_chip-1">
                  <div class="text-19 valign-text-middle nanumgothic-bold-white-lilac-20px">자기개발/자기계발</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-20 valign-text-middle nanumgothic-bold-mountain-mist-20px">할인</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-21 valign-text-middle nanumgothic-bold-mountain-mist-20px">시사상식</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-22 valign-text-middle nanumgothic-bold-mountain-mist-20px">자취 및 생활상식</div>
                </div>
              </div>
              <div class="filter_chip_0">
                <div class="fillter_chip-1">
                  <div class="text-23 valign-text-middle nanumgothic-bold-white-lilac-20px">여행</div>
                </div>
                <div class="fillter_chip-1">
                  <div class="text-24 valign-text-middle nanumgothic-bold-white-lilac-20px">재테크</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-25 valign-text-middle nanumgothic-bold-mountain-mist-20px">계액</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-26 valign-text-middle nanumgothic-bold-mountain-mist-20px">취미</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-27 valign-text-middle nanumgothic-bold-mountain-mist-20px">자격증</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-28 valign-text-middle nanumgothic-bold-mountain-mist-20px">대학</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-29 valign-text-middle nanumgothic-bold-mountain-mist-20px">취직</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-30 valign-text-middle nanumgothic-bold-mountain-mist-20px">대출</div>
                </div>
                <div class="fillter_chip">
                  <div class="text-31 valign-text-middle nanumgothic-bold-mountain-mist-20px">기타</div>
                </div>
              </div>
            </div>
            <div class="dropdown">
              <div class="dropdown-1">
                <div class="text-32 valign-text-middle nanumgothic-bold-mountain-mist-20px">최신순</div>
                <img class="vector-1" src="img/vector-1.svg" alt="Vector" />
              </div>
            </div>
          </div>
        </div>
        <div class="list_contents">
          <img class="div-line-stroke" src="img/divline--stroke-.svg" alt="DivLine (Stroke)" />
          <div class="postbox">
            <div class="post">
              <div class="num">
                <div class="num_-answer_-true">
                  <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                </div>
                <div class="text-2 nanumgothic-bold-orange-16px">답변완료</div>
              </div>
              <img class="divline" src="img/divline.svg" alt="divline" />
              <div class="contents">
                <div class="title valign-text-middle nanumgothic-bold-eerie-black-28px">
                  전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                </div>
                <p class="text-3 nanumgothic-normal-mountain-mist-20px">
                  전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세 알아보다가
                  같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이 공인중개사라 그
                  집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까 집주인과 공인중개사가
                  짜고 그랬다 ...
                </p>
                <div class="status nanumgothic-bold-mountain-mist-16px">
                  <div class="status-1 status-3">
                    <div class="status-2 status-3">
                      <div class="text-34">추천</div>
                      <div class="number-4 number-29">11</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-35">조회</div>
                      <div class="x21-k">2.1K</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-36">답글</div>
                      <div class="number-5 number-29">2</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-37">댓글</div>
                      <div class="number-6 number-29">2</div>
                    </div>
                  </div>
                  <div class="date">23.02.14</div>
                </div>
              </div>
            </div>
          </div>
          <img class="div-line-stroke" src="img/divline--stroke-.svg" alt="DivLine (Stroke)" />
          <div class="postbox">
            <div class="post">
              <div class="num-5">
                <div class="num_-answer_-true">
                  <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                </div>
                <div class="text-2 nanumgothic-bold-orange-16px">답변완료</div>
              </div>
              <img class="divline" src="img/divline.svg" alt="divline" />
              <div class="contents">
                <div class="title valign-text-middle nanumgothic-bold-eerie-black-28px">
                  전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                </div>
                <p class="text-3 nanumgothic-normal-mountain-mist-20px">
                  전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세 알아보다가
                  같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이 공인중개사라 그
                  집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까 집주인과 공인중개사가
                  짜고 그랬다 ...
                </p>
                <div class="status nanumgothic-bold-mountain-mist-16px">
                  <div class="status-1 status-3">
                    <div class="status-2 status-3">
                      <div class="text-39">추천</div>
                      <div class="number-7 number-29">11</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-40">조회</div>
                      <div class="x21-k-5">2.1K</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-41">답글</div>
                      <div class="number-8 number-29">2</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-42">댓글</div>
                      <div class="number-9 number-29">2</div>
                    </div>
                  </div>
                  <div class="date-5">23.02.14</div>
                </div>
              </div>
            </div>
          </div>
          <img class="div-line-stroke" src="img/divline--stroke-.svg" alt="DivLine (Stroke)" />
          <div class="postbox">
            <div class="post">
              <div class="num-5">
                <div class="num_-answer_-true">
                  <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                </div>
                <div class="text-2 nanumgothic-bold-orange-16px">답변완료</div>
              </div>
              <img class="divline" src="img/divline.svg" alt="divline" />
              <div class="contents">
                <div class="title valign-text-middle nanumgothic-bold-eerie-black-28px">
                  전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                </div>
                <p class="text-3 nanumgothic-normal-mountain-mist-20px">
                  전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세 알아보다가
                  같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이 공인중개사라 그
                  집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까 집주인과 공인중개사가
                  짜고 그랬다 ...
                </p>
                <div class="status nanumgothic-bold-mountain-mist-16px">
                  <div class="status-1 status-3">
                    <div class="status-2 status-3">
                      <div class="text-44">추천</div>
                      <div class="number-10 number-29">11</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-45">조회</div>
                      <div class="x21-k-5">2.1K</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-46">답글</div>
                      <div class="number-11 number-29">2</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-47">댓글</div>
                      <div class="number-12 number-29">2</div>
                    </div>
                  </div>
                  <div class="date-5">23.02.14</div>
                </div>
              </div>
            </div>
          </div>
          <img class="div-line-stroke" src="img/divline--stroke-.svg" alt="DivLine (Stroke)" />
          <div class="postbox">
            <div class="post">
              <div class="num-5">
                <div class="num_-answer_-true">
                  <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                </div>
                <div class="text-2 nanumgothic-bold-orange-16px">답변완료</div>
              </div>
              <img class="divline" src="img/divline.svg" alt="divline" />
              <div class="contents">
                <div class="title valign-text-middle nanumgothic-bold-eerie-black-28px">
                  전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                </div>
                <p class="text-3 nanumgothic-normal-mountain-mist-20px">
                  전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세 알아보다가
                  같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이 공인중개사라 그
                  집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까 집주인과 공인중개사가
                  짜고 그랬다 ...
                </p>
                <div class="status nanumgothic-bold-mountain-mist-16px">
                  <div class="status-1 status-3">
                    <div class="status-2 status-3">
                      <div class="text-49">추천</div>
                      <div class="number-13 number-29">11</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-50">조회</div>
                      <div class="x21-k-5">2.1K</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-51">답글</div>
                      <div class="number-14 number-29">2</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-52">댓글</div>
                      <div class="number-15 number-29">2</div>
                    </div>
                  </div>
                  <div class="date-5">23.02.14</div>
                </div>
              </div>
            </div>
          </div>
          <img class="div-line-stroke" src="img/divline--stroke-.svg" alt="DivLine (Stroke)" />
          <div class="postbox">
            <div class="post">
              <div class="num-5">
                <div class="num_-answer_-true">
                  <div class="number valign-text-middle nanumgothic-bold-white-lilac-28px">01</div>
                </div>
                <div class="text-2 nanumgothic-bold-orange-16px">답변완료</div>
              </div>
              <img class="divline" src="img/divline.svg" alt="divline" />
              <div class="contents">
                <div class="title valign-text-middle nanumgothic-bold-eerie-black-28px">
                  전세사기일까봐 무서워요,, 도와주세요ㅠㅠ
                </div>
                <p class="text-3 nanumgothic-normal-mountain-mist-20px">
                  전세사기일까봐 계약이 무섭습니다.사기가 아닌지 어떻게 확인하면될까요? 이사시기가 되어 전세 알아보다가
                  같은 지역에 다른곳보다 조금 싼 매물이 나왔는데 조건, 입주일, 위치 다 맞는데 집주인이 공인중개사라 그
                  집주인 부동산에서 계약을 해야된다고 하더라구요. 이번에 전세사기 난리난거 보니까 집주인과 공인중개사가
                  짜고 그랬다 ...
                </p>
                <div class="status nanumgothic-bold-mountain-mist-16px">
                  <div class="status-1 status-3">
                    <div class="status-2 status-3">
                      <div class="text-54">추천</div>
                      <div class="number-16 number-29">11</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-55">조회</div>
                      <div class="x21-k-5">2.1K</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-56">답글</div>
                      <div class="number-17 number-29">2</div>
                    </div>
                    <div class="status-2 status-3">
                      <div class="text-57">댓글</div>
                      <div class="number-18 number-29">2</div>
                    </div>
                  </div>
                  <div class="date-5">23.02.14</div>
                </div>
              </div>
            </div>
          </div>
          <img class="div-line-stroke" src="img/divline--stroke-.svg" alt="DivLine (Stroke)" />
        </div>
        <div class="pagenation">
          <img class="pagenation-item" src="img/-.svg" alt="&lt;" />
          <div class="numbers">
            <div class="frame-13 frame"><div class="number-19 number-29 nanumgothic-bold-eerie-black-24px">1</div></div>
            <div class="frame-13 frame">
              <div class="number-20 number-29 nanumgothic-bold-mountain-mist-24px">2</div>
            </div>
            <div class="frame-13 frame">
              <div class="number-21 number-29 nanumgothic-bold-mountain-mist-24px">3</div>
            </div>
            <div class="frame-13 frame">
              <div class="number-22 number-29 nanumgothic-bold-mountain-mist-24px">4</div>
            </div>
            <div class="frame-13 frame">
              <div class="number-23 number-29 nanumgothic-bold-mountain-mist-24px">5</div>
            </div>
            <div class="frame-13 frame">
              <div class="number-24 number-29 nanumgothic-bold-mountain-mist-24px">6</div>
            </div>
            <div class="frame-13 frame">
              <div class="number-25 number-29 nanumgothic-bold-mountain-mist-24px">7</div>
            </div>
            <div class="frame-13 frame">
              <div class="number-26 number-29 nanumgothic-bold-mountain-mist-24px">8</div>
            </div>
            <div class="frame-13 frame">
              <div class="number-27 number-29 nanumgothic-bold-mountain-mist-24px">9</div>
            </div>
            <div class="frame-140 frame">
              <div class="number-28 number-29 nanumgothic-bold-mountain-mist-24px">10</div>
            </div>
          </div>
          <img class="pagenation-item" src="img/--1.svg" alt="&gt;" />
        </div>
      </div>
    </div>
    <div class="main-scroll-icon">
      <img src="./img/main-scroll-icon.png" alt="Scroll Icon">
  </div>
    <script src="./js/scroll.js"></script>
  </body>
</html>
<footer>
  <img src="./img/footer.png" alt="">
</footer>