{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="signup-input-info">
            <p>질문 제목</p>
            <input type="text" name="title" placeholder="질문의 제목을 40자 이내로 작성해주세요.">
        </div>
        <div class="signup-input-info">
            <p>관련 키워드</p>
            <input type="password" name="category" placeholder="검색에 도움이 될만한 관련 키워드를 골라주세요.">
        </div>
        <div class="signup-input-info">
            <p>질문 내용</p>
            <input type="text" name="content" placeholder="질문의 내용을 입력해주세요.">
        </div>
        <div class="signupBtn">
            <input type="submit" value="업로드">
        </div>
    </form>
</body>
</html>
