{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lifesenior</title>
    <link rel="stylesheet" href="{% static 'css/studyStyle.css' %}">
    <!-- <link rel="stylesheet" href="../../static/css/studyStyle.css"> -->
</head>
<body onload="handleScrollPosition(event)">
    <!-- nav bar -->
    <!-- copy -->
    <nav>
        <div class="nav-left">
            <img src="{% static 'img/main-nav-logo.png' %}" alt="로고">
            <a href="{% url 'main' %}" style=" color: #95969D;" >홈</a>
            <a class="nav-second" style="color: #FFFFFF;" href="{% url 'quizApp:studySpace' level=0 %}">오늘의 공부</a>
            <a class="nav-third" href="#" style=" color: #95969D;">소통 게시판</a>
        </div>
        <div class="nav-right">
            <img class="nav-icon-third" style="margin-right: 15px;" src="{% static 'img/nav-icon-third.png' %}" alt="">
            <p style="color: #FFFFFF;top:50%;margin-bottom: 0px; margin-right:30px;
            color: var(--unnamed, #F6F7FB);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;">부기님</p>
            <p style="color: #FFFFFF;top:50%;margin-bottom: 0px; margin-right:40px;
            color: var(--1, #95969D);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;" href="{% url 'accounts:logOut' %}">로그아웃</p>
        </div> 
    </nav>
    <!-- nav bar end -->

    <!-- header -->
    <!-- copy -->
    <header class="study-title">
        <p>어른이 되기 위한 우리의</p>       
        <p>오늘의 공부</p>
    </header>
    <!-- header end -->

    <!-- nav2 -->
    <nav id="nav2">
        <a href="{% url 'quizApp:studySpace' level=3 %}" style="text-decoration: none;
        color: inherit;"><p id="nav2-first" style="color: #F6F7FB; ">학 습 공 간</p></a>
        <a href="{% url 'quizApp:stateAll' %}" style="text-decoration: none;
        color: inherit;"><p id="nav2-second">현 황</p></a>
    </nav>

    <!-- main-scroll-icon -->
    <!-- copy -->
    <div class="main-scroll-icon">
        <img src="{% static 'img/main-scroll-icon.png' %}" alt="Scroll Icon">
    </div>
    <!-- main-scroll-icon end -->

    <!-- 학습공간 페이지 -->
    <div id="study-place">
        <div class="advice-box">
            <div class="speech-bubble-box">
                <div class="speech-bubble">
                    <img src="{% static 'img/study-logo.png' %}" alt="">
                    <div class="speech-bubble-content">
                        <div id="speech-bubble-content-first">
                            <p>오늘은&nbsp;</p>
                            <p id="speech-bubble-content-date1">7</p>
                            <p>일째 공부중</p>
                        </div>
                        <div id="speech-bubble-content-second">
                            <p>인생선배의&nbsp;</p>
                            <p id="speech-bubble-content-date2">6월 12일&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>조언</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="today-first-box">
                <p class="today-box-title">오늘의 부동산 용어</p>
                <div class="today-study-box">
                    <p class="today-study-box-title">이것만은 알고가자 부동산 용어</p>
                    <div class="today-study-box-word">
                        <p><strong>{{ realtyTerm.title }}</strong>: {{ realtyTerm.description }}</p>
                    </div>
                    <div class="today-study-box-info" style="text-align:center;">
                        {% for content in realtyContents%}
                        <p>{{ content }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="today-second-box">
                <p class="today-box-title">오늘의 경제 용어</p>
                <div class="today-study-box">
                    <p class="today-study-box-title">이것만은 알고가자 부동산 용어</p>
                    <div class="today-study-box-word">
                        <p><strong>{{ economyTerm.title }}</strong>: {{ economyTerm.description}}</p>
                    </div>
                    <div class="today-study-box-info" style="text-align:center;">
                        {% for content in economyContents %}
                        <p>{{ content }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="quiz-container">
            <div class="quiz-container-title">
                <img src="{% static 'img/main-nav-logo.png' %}" alt="">
                <p>퀴즈를 풀어보아요!</p>
                <p>내 수준에 맞는 난이도를 선책하고 퀴즈를 풀어보세요.</p>
            </div>
            <div class="quiz-level-container">
                <a href="{% url 'quizApp:studySpace' level=0 %}" style="text-decoration: none;
                color: inherit;" onclick="handleScrollPosition(event)">
                    <div class="quiz-level-box" >
                        <p class="quiz-level-comment">많은 조언을 얻었나요?</p>
                        <div class="quiz-level">
                            <p class="quiz-level-name" >쉬움</p>
                            <img src="{% static 'img/study-easy.png' %}" alt="">
                        </div>
                    </div>
                </a>
                <a href="{% url 'quizApp:studySpace' level=1 %}" style="text-decoration: none;
                color: inherit;" onclick="handleScrollPosition(event)">
                    <div class="quiz-level-box">
                        <p class="quiz-level-comment">많은 조언을 얻었나요?</p>
                        <div class="quiz-level">
                            <p class="quiz-level-name">보통</p>
                            <img src="{% static 'img/study-normal.png' %}" alt="">
                        </div>
                    </div>
                </a>
                <a href="{% url 'quizApp:studySpace' level=2 %}" style="text-decoration: none;
                color: inherit;" onclick="handleScrollPosition(event)">
                    <div class="quiz-level-box">
                        <p class="quiz-level-comment">많은 조언을 얻었나요?</p>
                        <div class="quiz-level">
                            <p class="quiz-level-name">어려움</p>
                            <img src="{% static 'img/study-hard.png' %}" alt="">
                        </div>
                    </div>
                </a>
                <a href="{% url 'quizApp:studySpace' level=3 %}" style="text-decoration: none;
                color: inherit;" onclick="handleScrollPosition(event)">
                    <div class="quiz-level-box"  style="background-color: #17181A;">
                        <p class="quiz-level-comment" style="color: #F6F7FB;">많은 조언을 얻었나요?</p>
                        <div class="quiz-level">
                            <p class="quiz-level-name" style="color: #F6F7FB;">아주 어려움</p>
                            <img src="{% static 'img/study-very-hard.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <p class="quiz-container-p">오늘 배운 내용을 복습해 봅시다.</p>
            <div class="quiz-box">
                <div class="quiz-box-content">
                    <p class="quiz-box-content-title">1일 1퀴즈</p>
                    <div class="quiz-box-content-nav">
                        <p id="p-1">전체</p>
                        <p id="p-2">부동산</p>
                        <p id="p-3">경제</p>
                        <p id="p-4">트렌드</p>
                        <p id="p-5">할인</p>
                        <p id="p-6">시사상식</p>
                        <p id="p-7">기타</p>
                    </div>
                    <div class="quiz-change-box" id="box-1">
                        <p class="quiz-box-content-p-fisrt">{{ quizAll.text }}</p>
                        <p class="quiz-box-content-p-second">{{ quizAll.description }}</p>
                        <div class="quiz-box-content-quizBtn">
                            {% for choice in quizAll.choice_set.all %}
                                <input type="submit" class="quiz-select-btn {{choice.isCorrect}}" name="{{quiz.id}}" value="{{choice.text}}" {% if forloop.last %}style="margin-right: 0;"{% endif %}>
                            {% endfor %}
                        </div>
                    </div>
                    {% for quiz, id in quizs.items %}
                        <div class="quiz-change-box" id="{{ id }}">
                            <p class="quiz-box-content-p-fisrt">{{ quiz.text }}</p>
                            <p class="quiz-box-content-p-second">{{ quiz.description }}</p>
                            <div class="quiz-box-content-quizBtn">
                                {% for choice in quiz.choice_set.all %}
                                <input type="submit" class="quiz-select-btn {{choice.isCorrect}}" name="{{quiz.id}}" value="{{choice.text}}"{% if forloop.last %}style="margin-right: 0;"{% endif %}>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <img class="study-next-btn" src="{% static 'img/study-next-btn.png' %}" alt="">
                <div class="quiz-overlay"></div>
                <div class="quiz-correct-modal">
                    <p class="quiz-correct-modal-content">정답이에요!</p>
                    <img src="{% static 'img/correct.png' %}" alt="">
                    <p class="quiz-modal-content">완벽히 이해했군요! 다음 퀴즈도 풀어보세요!</p>
                </div>
                <div class="quiz-incorrect-modal">
                    <p class="quiz-incorrect-modal-content">틀렸어요,,!</p>
                    <img src="{% static 'img/incorrect.png' %}" alt="">
                    <p class="quiz-modal-content">완벽히 이해했군요! 다음 퀴즈도 풀어보세요!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- copy -->
    <footer>
        <img src="{% static 'img/footer.png' %}" alt="">
    </footer>
    <!-- footer end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(".quiz-select-btn").click(function(){
            var pk = $(this).attr('name')
            var text = $(this).attr('value')
            $.ajax({ // .like 버튼을 클릭하면 <새로고침> 없이 ajax로 서버와 통신하겠다.
                type: "POST", // 데이터를 전송하는 방법을 지정
                url: "{% url 'quizApp:solveQuiz' %}", // 통신할 url을 지정
                data: {'pk': pk, 'text': text, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송시 옵션
                dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
                // 서버측에서 전송한 Response 데이터 형식 (json)
                // {'likes_count': post.like_count, 'message': message }
                success: function(response){ // 통신 성공시 - 동적으로 좋아요 갯수 변경, 유저 목록 변경
                    console.log("success")
                },
                error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트  
                    console.log("fail")
                },
            });
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/studyJs.js' %}"></script>
</body>
</html>