<form action="{% url 'accounts:logIn' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" class="" placeholder="Id" required>
    <!-- <input type="email" placeholder="Email address" required> -->
    <!--Email address-->
    <input type="password" name="password" placeholder="Password" required>
    <!--password-->
    <input type="checkbox" name="checkbox" id="rem">
    <!-- 로그인 이전 Path -->
    <input type="text" name="next" value="{{ next }}">
    <!--아이디 기억 체크박스-->
    <label for="rem">Remember Me</label>
    <input type="submit" value="Login">
    <!--Login 버튼-->
</form>